body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #ffeb3b;
}

.outer-container {
  padding: 10px;
}

.comic-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dark, .dark input {
  background-color: #2b2b2b;
  color: #ffffff;
  transition: all 400ms;
}

.light, .light input {
  background-color: #ffffff;
  color: #2b2b2b;
  transition: all 400ms;
}

.dark fieldset{
  border-color: #ffffff;
}

.dark button:disabled {
  color: #ffffff4d;
}

.dark p {
  color: #ffffff;
}
